@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SourceSansPro-Regular";
    src: url("../../public/font/sourcesanspro-regular-webfont.woff2")
        format("woff2"),
      url("../../public/font/sourcesanspro-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "SourceSansPro-Bold";
    src: url("/font/sourcesanspro-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
}

children {
  @apply font-sourceSans;
}
